#elements {
  min-height: 100vh;
  max-height: 100vh;
  overflow: hidden;
  background-color: black;
}

#container1 {
  max-height: 20px;
  background-color: #1a1a1d;
  -webkit-app-region: drag;
  display: flex;
  justify-content: flex-end;
}

#container2 {
  display: flex;
  color: black;
  min-height: 97.4vh;
  max-height: 97.4vh;
  background: url(../img/escheresque_ste.png) round;
  background-size: auto;
}

#panel {
  min-width: 60px;
  max-width: 60px;
  background-color: #222;
}

#drop_right {
  position: absolute;
  min-width: 60px;
  max-width: 60px;
  height: 500px;
  opacity: 1;
  display: flex;
  justify-content: center;
}

#servers {
  overflow-y: auto;
  overflow-x: hidden;
  height: 80%;
  padding: 15px;
  width: 60px;
  display: flex;
  flex-direction: column;
  background: #222;
  color: white;
  position: relative;
}

#servers::-webkit-scrollbar {
  width: 0.4em;
}

#servers::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

#servers::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}

#server_add {
  height: 32px;
  width: 32px;
  background-color: transparent;
  box-shadow: none;
  border: 0;
  outline-width: 0;
  padding-left: 0px;
}

#server_add:active {
  filter: brightness(0.5);
}

#menu_button {
  background-color: transparent;
  width: 48px;
  height: 48px;
  outline-width: 0 !important;
  margin-left: 6px;
  margin-top: 5px;
  border: 0;
}

#menu_button:active {
  filter: brightness(2);
}

#settings_div {
  display: flex;
  justify-content: center;
  float: left;
  width: 60px;
}

#settings_button {
  background-color: transparent;
  width: 40px;
  height: 40px;
  margin-top: 35px;
  outline-width: 0 !important;
  padding-right: 6px;
  border: 0;
}

#settings_button:active {
  filter: brightness(2);
}

.points_cont {
  color: gray;
  display: flex;
  margin-top: 15px;
  align-items: center;
}

.menu_points {
  margin-right: 10px;
}

.points_cont:hover {
  color: white;
  filter: brightness(2);
}

#channels {
  min-width: 200px;
  max-height: 100%;
  padding: 15px;
  overflow-y: auto;
  overflow-x: hidden;
  background: #333;
  color: white;
}

#channels::-webkit-scrollbar {
  width: 0.4em;
}

#channels::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

#channels::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}

#chat {
  flex: auto;
  height: auto;
  display: flex;
  flex-flow: row wrap;
  overflow-y: auto;
  overflow-x: hidden;
  background: /*#222*/ transparent;
  color: white;
}

#chat_body {
  overflow-y: auto;
  overflow-x: hidden;
  display: flex;
  flex-direction: column-reverse;
  padding: 15px;
}

#chat_body::-webkit-scrollbar {
  width: 0.5em;
}

#chat_body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

#chat_body::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}

#chat::-webkit-scrollbar {
  width: 0.5em;
}

#chat::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

#chat::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}

#chat_bar {
  display: flex;
  flex-direction: row-reverse;
  width: 100%;
  height: 50px;
  background-color: #333;
}

.bar_button {
  height: 32px;
  width: 32px;
  background-color: transparent;
  box-shadow: none;
  border: 0;
  outline-width: 0 !important;
  margin: 8px 8px 8px 0px;
}

.bar_button:active {
  filter: brightness(1.5);
}

#members {
  min-width: 237px;
  float: right;
  height: auto;
  background: #333;
}

#members_cont {
  padding: 15px;
  color: white;
}

.input-group {
  margin: 15px;
  align-self: flex-end;
  min-width: 300px;
  display: flex;
  justify-content: space-between;
}

#input {
  justify-self: flex-end;
  font-size: 14.4px;
  flex: auto;
  height: 25px;
  background-color: #444;
  outline-width: 0;
  border-top-left-radius: 7px;
  border-bottom-left-radius: 7px;
  color: white;
  border: 2px;
  border-color: #444;
  padding-left: 10px;
  margin-right: 10px;
  overflow: hidden;
  resize: none;
}

input::placeholder {
  color: gray;
  font-size: 1em;
  font-family: Arial, Helvetica, sans-serif;
}

#chat-button {
  background-color: #444;
  color: gray;
  outline-width: 0;
  border-top-right-radius: 7px;
  border-bottom-right-radius: 7px;
  border: 0;
  padding-right: 10px;
  max-height: 25px;
}

#chat-button:active {
  background-color: #333;
}

.img {
  margin-bottom: 15px;
}

.img:active {
  filter: brightness(0.5);
}

.message {
  display: flex;
  overflow-y: auto;
  overflow-x: hidden;
  margin-bottom: 15px;
}

.message_text {
  width: auto;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

.message_border {
  border-radius: 15px;
  padding: 12px 12px 0px 12px;
  background-color: #444;
}

.date {
  margin-top: 3px;
  margin-left: 15px;
  font-size: 0.7em;
  color: gray;
}

.channel_button {
  background-color: #444;
  color: gray;
  border-radius: 7px;
  max-height: 30;
  border: 0;
  outline-width: 0 !important;
}

.channel_button:active {
  background-color: #333;
}

.input_channel {
  width: 130px;
  margin-right: 5px;
  padding-left: 6px;
  background-color: #444;
  outline-width: 0;
  border-radius: 7px;
  color: white;
  border: 0;
  border-color: #444;
}

.input_channel::placeholder {
  color: gray;
  font-size: 0.9em;
  font-family: Arial, Helvetica, sans-serif;
}

.channel_item {
  display: flex;
  margin-top: 15px;
  align-items: center;
}

.channel_item:active {
  font-size: 50;
}

.channel_item_text {
  color: gray;
  width: 142px;
  margin-right: 3px;
}

.channel_item_text:active {
  filter: brightness(1);
}

#invite_button {
  height: 40px;
  width: 100%;
  border-radius: 10px;
  background-color: #7188dc;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  outline-width: 0;
  box-shadow: none;
  border: 0;
}

#invite_button:active {
  background-color: #5168ba;
}

#search {
  width: 100%;
  margin-bottom: 15px;
  padding-left: 10px;
  background-color: #444;
  outline-width: 0;
  border-radius: 7px;
  color: white;
  border: 0;
  border-color: #444;
}

#button_group {
  display: flex;
  -webkit-app-region: no-drag;
}

.nav {
  margin-left: 3px;
  margin-right: 3px;
  height: 20px;
  width: 30px;
  padding-bottom: 5px;
  vertical-align: center;
  outline-width: 0 !important;
  border: 0;
  background-color: transparent;
}
