#elements {
  min-height: 100vh;
  max-height: 100vh;
  overflow: hidden;
}

#container1 {
  max-height: 20px;
  background-color: #1a1a1d;
  -webkit-app-region: drag;
  display: flex;
  justify-content: flex-end;
}

#container2 {
  display: flex;
  color: black;
  min-height: 97.4vh;
  max-height: 97.4vh;
}

#panel {
  min-width: 60px;
  max-width: 60px;
  background-color: #222;
}

#drop_right {
  position: absolute;
  min-width: 60px;
  max-width: 60px;
  height: 500px;
  opacity: 1;
  display: flex;
  justify-content: center;
}

#servers {
  overflow-y: auto;
  overflow-x: hidden;
  height: 80%;
  padding: 15px;
  width: 60px;
  display: flex;
  flex-direction: column;
  background: #222;
  color: white;
  opacity: 1;
  position: relative;
}

#servers::-webkit-scrollbar {
  width: 0.4em;
}

#servers::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

#servers::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}

#server_add {
  height: 32px;
  width: 32px;
  border-radius: 16px;
  outline-color: #555;
  background-color: #888;
  box-shadow: none;
  color: white;
  font-weight: bold;
  outline-width: 0;
}

#menu_button {
  background-color: transparent;
  width: 48px;
  height: 48px;
  outline-width: 0 !important;
  margin-left: 6px;
  margin-top: 5px;
  border-top: 0;
  border-left: 0;
}

#settings_div {
  display: flex;
  justify-content: center;
  float: left;
  width: 60px;
}

#settings_button {
  background-color: transparent;
  width: 40px;
  height: 40px;
  margin-top: 35px;
  outline-width: 0 !important;
  padding-right: 6px;
  border-top: 0;
  border-left: 0;
}

#channels {
  min-width: 200px;
  max-height: 100%;
  padding: 15px;
  overflow-y: auto;
  overflow-x: hidden;
  background: #333;
  color: white;
}

#channels::-webkit-scrollbar {
  width: 0.4em;
}

#channels::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

#channels::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}

#chat {
  flex: auto;
  height: auto;
  padding: 15px;
  flex-direction: column-reverse;
  overflow-y: auto;
  overflow-x: hidden;
  background: #222;
  color: white;
  display: flex;
}

#chat::-webkit-scrollbar {
  width: 0.5em;
}

#chat::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

#chat::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}

#members {
  min-width: 200px;
  float: right;
  height: auto;
  padding: 15px;
  background: #333;
  color: white;
}

.input-group {
  min-width: 300px;
  display: flex;
  justify-content: space-between;
}

#input {
  flex: auto;
  background-color: #444;
  outline-width: 0;
  border-top-left-radius: 7px;
  border-bottom-left-radius: 7px;
  color: white;
  border: 0;
  padding-left: 10px;
  margin-right: 10px;
}

input::placeholder {
  color: gray;
  font-size: 1em;
  font-family: Arial, Helvetica, sans-serif;
}

#chat-button {
  background-color: #444;
  color: gray;
  outline-width: 0;
  border-top-right-radius: 7px;
  border-bottom-right-radius: 7px;
  border-left: 1px;
  border-top: 0;
  padding-right: 10px;
}

.img {
  margin-bottom: 15px;
}

.message {
  display: flex;
  overflow-y: auto;
  overflow-x: hidden;
  margin-right: 15px;
  margin-bottom: 15px;
}

.message_text {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

.date {
  font-size: 0.8em;
  color: gray;
}

.channel_button {
  background-color: #444;
  color: gray;
  border-radius: 7px;
  max-height: 30;
  border-left: 1px;
  border-top: 0;
  border-color: #999 !important;
  outline-width: 0 !important;
}

.input_channel {
  width: 130px;
  margin-right: 5px;
  padding-left: 6px;
  background-color: #444;
  outline-width: 0;
  border-radius: 7px;
  color: white;
  border: 0;
  border-color: #444;
}

.input_channel::placeholder {
  color: gray;
  font-size: 0.9em;
  font-family: Arial, Helvetica, sans-serif;
}

#invite_button {
  height: 40px;
  width: 100%;
  border-radius: 10px;
  background-color: #7188dc;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  outline-width: 0;
  box-shadow: none;
  border-color: #7188dc;
}

#search {
  width: 100%;
  margin-bottom: 15px;
  padding-left: 10px;
  background-color: #444;
  outline-width: 0;
  border-radius: 7px;
  color: white;
  border: 0;
  border-color: #444;
}

#button_group {
  display: flex;
  -webkit-app-region: no-drag;
}

.nav {
  margin-left: 3px;
  margin-right: 3px;
  height: 20px;
  width: 30px;
  padding-bottom: 5px;
  vertical-align: center;
  outline-width: 0 !important;
  border: 0;
  background-color: transparent;
}
